<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap响应式后台布局</title>
    <include file="home@public/header" />
    <!-- MetisMenu CSS -->
    <link href="__LIB__/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="__CSS__/admin.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="__LIB__/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Metis Menu Plugin JavaScript -->
    <script src="__LIB__/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="__JS__/left.js"></script>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
            </div>
            <!-- /.navbar-header -->
            <include file="admin@public/top" />
            <!-- /.navbar-top-links -->
            <include file="admin@public/left" />
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper" style="min-height: 477px;">
            {__CONTENT__}
        </div>
    </div>
</body>

</html>