<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-down glyphicon-search" aria-hidden="true"></span>
                    </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="/admin/index/index.html">Dashboard</a>
            </li>
            <li>
                <a href="/admin/table/index.html">Tables</a>
            </li>
            <li>
                <a href="/admin/form/index.html">Forms</a>
            </li>
            <li>
                <a href="#">UI Elements<span class="glyphicon glyphicon-down glyphicon-menu-down pull-right" aria-hidden="true"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/admin/UI/panels-wells.html">Panels and Wells</a>
                    </li>
                    <li>
                        <a href="/admin/UI/buttons.html">Buttons</a>
                    </li>
                    <li>
                        <a href="/admin/UI/notifications.html">Notifications</a>
                    </li>
                    <li>
                        <a href="/admin/UI/typography.html">Typography</a>
                    </li>
                    <li>
                        <a href="/admin/UI/icons.html"> Icons</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#">Multi-Level Dropdown<span class="glyphicon glyphicon-down glyphicon-menu-down pull-right" aria-hidden="true"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level <span class="glyphicon glyphicon-down glyphicon-menu-down pull-right" aria-hidden="true"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>