<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap响应式布局</title>
    <include file="home@public/header" />
    <link href="__CSS__/style.css" rel="stylesheet" />
</head>

<body>
    <include file="index@public/top" />
    <div class="container">
        <div class="content">{__CONTENT__}</div>
    </div>
</body>

</html>